<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Log-Out </title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/logout.css" rel="stylesheet">
</head>
<body class="text-center">
    
    <div id="page">
        <div class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="index"> Diabetic Retinopathy Classification </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="login"> Logout </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register"> Register </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="mb-3">
        <h2> Successfully Logged Out! </h2>
        <p> Login for more information </p>
        <a href="login"><button class="btn btn-md btn-secondary" id="subBtn"> Login </button></a>
    </div>

</body>
</html>